
h1#site-title {
  font-size: 72px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align:center;
color: black;
  font-family: Verdana;
}

h1#article-title {
 font-size: 48px;
 text-align:left;
}

p {
  color: #5353e6;
  width: 75%;
}

figure {
  width: 25%;
  border: 1px solid black;
  padding: 30px;
}

img {
max-width: 100%
height: auto;
}

figure img {
 max-width: 100%
 height: auto;
  margin-bottom: 12px;
  padding-bottom: 24px;
}

figure.main-image {
background: palevioletred;
border-color;:mediumvioletred
color: #fff;
}

figure.section-image {
margin-right: 32px;
max-width: 320px;
}

@media all and (min-width:768px) {
  figure.section-image.odd {
  float: right;
  margin-left: 20px;
}



figure.section-image.even {
float: left;
margin-right: 20px;
}

p img {
  float: right;
  max-width: 25%;
  margin-left: 20px; 
  margin-bottom: 32px;
}

a {
  font-weight: bold;
  color: black;
}

@media all and (min-width: 376px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-left: 0;
    border-top: 1px solid mediumvioletred;
    border-bottom: 1px solid mediumvioletred;
  }
}

nav ul li {

}

nav ul li a {
  color: palevioletred;
  text-decoration: none;
  padding: 12px;
  border-bottom: 1px solid mediumvioletred;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border-bottom: 3px solid mediumvioletred; 
  padding-bottom: 9px;
}